<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="css/ct-navbar.css" rel="stylesheet" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ct-navbar.js"></script>
    <title>NDTV</title>


<style>
.btn{
background-color: #34495E;
color: white;
}
</style>



</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="home.html"><b><font color="white">Home</font></b></a>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{% url 'crime_analysis:analyze_crime' %}" id="navbardrop" data-toggle="dropdown">
          <b><font color="white">Newspaper</font></b>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeht' %}">Hindustan Times</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeasian' %}">Asian Age</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapedaily' %}">Daily Excelsior</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapedecc' %}">Deccan Chronicle</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeie' %}">Indian Express</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeit' %}">India Today</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapendtv' %}">NDTV</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapen18' %}">News 18</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeoneind' %}">One India</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeotlkind' %}">Outlook India</a>
      </div>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'crime_analysis:about' %}"><b><font color="white">About</font></b></a>
    </li>
  </ul>
</nav>



<div class = "container">
<br>
<img src="title_ndtv.png" alt="The Daily Excelsior" height="50px" width="130px">
<br><br>

	<p class="text-justify">New Delhi Television Limited (NDTV) is an Indian television media company founded in 1988 by Radhika Roy, a journalist. In a talk on the 25th anniversary of NDTV, her husband Prannoy Roy said that he joined NDTV a few weeks after Radhika had founded it. NDTV is an acronym for the original name of the company. NDTV's first show, The World This Week began in November 1988.

<p class="text-justify">As of June 2019, New Delhi Television. Securities and Exchange Board of India barred Prannoy Roy and his wife Radhika Roy from accessing the securities market for 2 years after an investigation revealed that they concealed material info from shareholders regarding loan agreements and hence, they cannot hold management positions in NDTV board. In August 2019, its CEO Suparna Singh resigned after CBI booked promoters for alleged FDI norms violation.</p>
</p>	
	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p><img src="paper4.png" alt="NDTV" height="150px" width="750px">
	<br><br><br>
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn" data-toggle="collapse" data-target="#demo">Analyze NDTV</button>
  <div id="demo" class="collapse">
  <br>
  <br>
<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>      
      <tr class="success">
        <td>Success</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="info">
        <td>Info</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr class="warning">
        <td>Warning</td>
        <td>Refs</td>
        <td>bo@example.com</td>
      </tr>
      <tr class="active">
        <td>Active</td>
        <td>Activeson</td>
        <td>act@example.com</td>
      </tr>
    </tbody>
  </table>
  
  
  <button type="button" class="btn">Export to PDF</button>
  
  </div>
	           
 
  
		

<br><br><br><br>

</div>
</body>
</html>
    </form>

</body>
</html>