{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5D8896;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2B5664;
}
</style>
</head>
<body>

<ul>
  <li><a href="{% url 'crime_analysis:crime_home' %}">Home</a></li>
  <li><a href="{% url 'crime_analysis:about' %}">About</a></li>
  <li><a href="{% url 'crime_analysis:analyze_crime' %}">Analyze</a></li>
</ul>

<font color="#2B5664" face="arial" >
	<h1>About Us</h1>
	<br>

We give analysis of real time data from online newspaper articles.
	The website is accessible and efficient to any user interested in crime analysis.<br>
The reputated newspaper websites are crawled for the realtime data.
<br><br>
The system classifies data into crime and non crime data. Various classifiers are used to classify data and comparative results are given.
<br>
Machine Learning and Natural Language Processing techniques and algorithms are used for analysis.
<br><br>
The system will be beneficial for policemen, crime agencies, law-enforcement agencies.<br>
Common people will get idea about crime. Everyone should know the crime happening in their country.<br>
<br>
This would allow broader understanding of crime in the context of india news paper.


</body>
</html>