{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crime Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="css/ct-navbar.css" rel="stylesheet" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ct-navbar.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'crime_analysis:crime_home' %}"><b><font color="white">Home</font></b></a>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{% url 'crime_analysis:analyze_crime' %}" id="navbardrop" data-toggle="dropdown">
          <b><font color="white">Newspaper</font></b>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeht' %}">Hindustan Times</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeasian' %}">Asian Age</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapedaily' %}">Daily Excelsior</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapedecc' %}">Deccan Chronicle</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeie' %}">Indian Express</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeit' %}">India Today</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapendtv' %}">NDTV</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapen18' %}">News 18</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeoneind' %}">One India</a>
        <a class="dropdown-item" href="{% url 'crime_analysis:scrapeotlkind' %}">Outlook India</a>
      </div>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'crime_analysis:about' %}"><b><font color="white">About</font></b></a>
    </li>
  </ul>
</nav>
<br>

<div class="container">
<img src="{% static 'brain4.gif' %}" alt="About us" height="300px" width="100%">

<img src="{% static 'a1.png' %}" alt="About Us" height="100px" width="100%">
<br><br>

    <p class="text-justify">
Newspapers are a huge source of information which is read by most people. However It contains information in an unstructured form. If this information is processed and analyzed properly it can serve as a great asset.
<br>
<br>
The objective of our project is to create a prototype of a system that can classify news into crime and non-crime. We provide classification of real time news from online newspaper articles. The news is crawled from various news sites and is classified into crime and non-crime.However the classification of news is done using Machine learning approach. Three different classifiers are used to classify the news and a report of the predicted values is generated. The system uses the concepts of Natural Language Processing to process the words in the news and to make it fit for classification.
<br>
<br>
The system will be beneficial for anyone who is interested to get an idea of the number of crimes occurring. Also it gives the system produces quick results rather than the manual classification techniques.

	</p>


<br><br>
<p class="text-justify">
	<b>Process</b>
	<img src="{% static 'process.png' %}" class="img-responsive" alt="Web Crawler" height="400px" width="1100px">
	<br>
	</p>

<br>
<br>


<br><br><br>
<!--

	 <p class="text-center">
	 <kbd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</kbd>
	 	 </p>
		 <b>
	Surabhi Ghankutkar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Pooja Gajbhiye&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Neelabh Sarkar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Sanyukta Yadav
</b>
-->

<br>
	<img src="{% static 'team_members.png' %}" class="img-responsive" alt="Web Crawler" height="350px" width="100%">
	<br><br><br><br>
	<img src="{% static 'guides.png' %}" class="img-responsive" alt="Web Crawler" height="350px" width="100%">




<br><br><br><br><br>

<br><br><br>

<br><br><br><br><br>


</div>
</body>
</html>


<!--<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5D8896;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2B5664;
}
</style>
</head>
<body>

<ul>
  <li><a href="{% url 'crime_analysis:crime_home' %}">Home</a></li>
  <li><a href="{% url 'crime_analysis:about' %}">About</a></li>
  <li><a href="{% url 'crime_analysis:analyze_crime' %}">Analyze</a></li>
</ul>

<font color="#2B5664" face="arial" >
	<h1>About Us</h1>
	<br>

We give analysis of real time data from online newspaper articles.
	The website is accessible and efficient to any user interested in crime analysis.<br>
The reputated newspaper websites are crawled for the realtime data.
<br><br>
The system classifies data into crime and non crime data. Various classifiers are used to classify data and comparative results are given.
<br>
    <b>Machine Learning</b> and <b>Natural Language Processing</b> techniques and algorithms are used for analysis.
<br><br>
The system will be beneficial for policemen, crime agencies, law-enforcement agencies.<br>
Common people will get idea about crime. Everyone should know the crime happening in their country.<br>
<br>
This would allow broader understanding of crime in the context of india news paper.
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <marquee> <h1> Thank You!!!!! </h1> </marquee>

</body>
</html>-->