{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5D8896;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2B5664;
}
</style>
</head>
<body>

<ul>
  <li><a href="{% url 'crime_analysis:crime_home' %}">Home</a></li>
  <li><a href="{% url 'crime_analysis:about' %}">About</a></li>
  <li><a href="{% url 'crime_analysis:analyze_crime' %}">Analyze</a></li>
</ul>

<font color="#2B5664" face="verdana" >

<h1>Crime!!!!!!</h1>
	<p>Crime in India is very common and happens in many different ways.
	Along with violent crimes (like homicide, robbery, and assault), and property crimes (like burglary, theft, motor vehicle theft, and arson), there are major problems with organized crime, the illegal drug trade, arms trafficking, corruption, and many other forms of crime.
	The most common types of crimes in India are listed below.<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic1.jpg' %}" alt="Mumbai Mirror" height="100px" width="250px"></a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic2.jpg' %}" alt="Times Of India" height="100px" width="250px"></a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic3.jpg' %}" alt="Mumbai Mirror" height="100px" width="250px"></a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic4.jpg' %}" alt="Times Of India" height="100px" width="250px"></a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic5.jpg' %}" alt="Mumbai Mirror" height="100px" width="250px"></a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static 'pic1.jpg' %}" alt="Times Of India" height="100px" width="250px"></a>
	</font>

</body>
</html>